# Datasets Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [1]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [6]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [ ]:
# Select the 'Limit' and 'Rating' columns of the first five observations

In [3]:
limited_ratings = df[['Limit', 'Rating']].head(5)
print(limited_ratings)

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [ ]:
# Select the first five observations with 4 cards

In [4]:
four_cards = df[df['Cards'] == 4].head(5)
print(four_cards)

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [ ]:
# Sort the observations by 'Education'. Show users with a high education value first.

In [5]:
sorted_by_education = df.sort_values(by='Education', ascending=False)
print(sorted_by_education)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
60   13.297283   35.510   5198     364      2   35         20  Female      No
51   13.010768   39.705   3969     301      2   27         20    Male      No
378  10.140785   19.349   4941     366      1   33         19    Male      No
247  13.774598   36.364   2220     188      3   50         19    Male      No
238  11.079748   26.532   2910     236      6   58         19  Female      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
284   8.298482   14.711   2047     167      2   67          6    Male      No
368  19.555838   89.000   5759     440      3   37          6  Female      No
224  25.262836  121.709   7818     584      4   50          6    Male      No
254  13.997826   36.508   6386     469      4   79          6  Female      No
30   10.201523   34.142   5666     413      4   47          5  Female      No

    Married         Ethnicity
60       No             Asian
51      Yes  African American
378     Yes         Caucasian
247      No         Caucasian
238     Yes         Caucasian
..      ...               ...
284     Yes         Caucasian
368      No         Caucasian
224     Yes         Caucasian
254     Yes         Caucasian
30      Yes         Caucasian

[400 rows x 11 columns]

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# [selects all rows (:) and all columns (:) and creates a copy of the entire DataFrame 'df']
df.iloc[:,:]

In [ ]:
# [selects all rows from the 6th row onwards (5:) and all columns from the 6th column onwards (5:) and creates a sub-DataFrame starting from the 6th row and 6th column ]
df.iloc[5:,5:]

In [ ]:
# [selects all rows (:) and the first column (0) and creates a new Series containing all values from the first column of the data frame]
df.iloc[:,0]

In [ ]:
# [selects the 10th row (index starts at 0) and all columns (:) and reates a new Series containing all values from the 10th row of the data frame]
df.iloc[9,:]